<ion-view view-title="Top Rated Seasons">
    <div class="tabs-striped tabs-color-royal">
    <ul class="tabs">
        <li ng-class="{active:isSelected(1)}" class="tab-item">
            <a ng-click="select(1)">Top Shows</a></li>
        <li ng-class="{active:isSelected(2)}" class="tab-item">
            <a ng-click="select(2)">New Shows</a></li>
        <li ng-class="{active:isSelected(3)}" class="tab-item">
            <a ng-click="select(3)">Most Watched</a></li>
        <li ng-class="{active:isSelected(4)}" class="tab-item">
            <a  ng-click="select(4)">Recent</a></li>
    </ul>
  </div>
 <ion-content>
    <ion-list>
      <div class="list" ng-repeat="series in topRatedSeries">

        <div class="item item-thumbnail-left row">   
            <img style="position:static;" class="col col-25" ng-src="{{'https://image.tmdb.org/t/p/w500/'+series.poster_path}}">
            <a ng-href="#/app/menu/{{series.id}}" class="col col-50"> 
            <h2>{{series.name}}
            <span style="font-size:75%">{{series.vote_average}}</span>
            <span class="badge badge-assertive">{{dish.label}}</span></h2>
            <p style="white-space:initial !important;line-height:100%;">{{series.overview | limitTo: 50}}{{series.overview.length > 50 ? '...' : ''}}</p>
            </a>
            <!-- <ion-option-button class="button-assertive icon ion-plus-circled"
                ng-click="addFavorite({{dish.id}})">
            </ion-option-button> -->
            <label style="align-self:center; margin-left:40px;" class="toggle toggle-assertive col col-25">
               <input ng-model="series.inShows" ng-click= "toggleSeriesStatus(series)" type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
             <!-- <ion-checkbox style="align-self:center; margin-left:40px;" ng-model="filter.red">Red</ion-checkbox> -->
        </div>
      </div>

    </ion-list>
  </ion-content>
</ion-view>  