    <div class="tabs-striped tabs-color-royal">
    <ul class="tabs">
        <li ng-class="{active:isSelected(1)}" class="tab-item">
            <a ng-click="select(1)">Top Shows</a></li>
        <li ng-class="{active:isSelected(2)}" class="tab-item">
            <a ng-click="select(2)">Now</a></li>
        <li ng-class="{active:isSelected(3)}" class="tab-item">
            <a ng-click="select(3)">Upcoming</a></li>
        <li ng-class="{active:isSelected(4)}" class="tab-item">
            <a  ng-click="select(4)">Recent</a></li>
    </ul>
  </div>
 <ion-content>
    <ion-list>
      <div class="card" ng-repeat="series in topRatedSeries" href="#/app/menu/{{series.id}}">
        <div class="item item-thumbnail-left item-text-wrap">
            <img ng-src="{{'https://image.tmdb.org/t/p/w500/'+series.poster_path}}">
            <h2>{{series.name}}
            <span style="font-size:75%">{{series.vote_average}}</span>
            <span class="badge badge-assertive">{{dish.label}}</span></h2>
            <p>{{series.overview | limitTo: 200}}{{series.overview.length > 200 ? '...' : ''}}</p>
            <!-- <ion-option-button class="button-assertive icon ion-plus-circled"
                ng-click="addFavorite({{dish.id}})">
            </ion-option-button> -->
        </div>
      </div>

    </ion-list>
  </ion-content>