<ion-view view-title="Schedule">
	  <ion-header-bar class="bar-light bar-subheader item-input-inset">
		<label class="item-input-wrapper textbox-search">
			<i class="icon ion ion-ios-search-strong"></i>
			<input type="search" placeholder="Search" ng-model="channel">
		</label>	
	</ion-header-bar>
	<ion-content>
		<!-- 	<label class="item-input-wrapper textbox-search">
			<i class="icon ion ion-ios-search-strong"></i>
			<input type="search" placeholder="Search" ng-model="channel" ng-keydown="$event.keyCode == 13?searchShows(search):''">
		</label> -->	
		<div class="list card" ng-if="country.code != IN">
			<div class="item item-avatar" ng-repeat="show in schedule">
				<img ng-src="{{show.show.image.medium}}" err-src="img/ionic.png">
				<h2>{{show.show.name}}</h2>
				<!-- <p>November 05, 1955</p> -->
				<p>{{show.airdate }} {{show.airtime}}</p>
				<p>Type: {{show.show.type}}</p>
			</div>
		</div>
		<div class="list card" ng-if="country.code == IN">
			<div class="item item-avatar" ng-repeat="channel in tvList | filter: channel">
				
				<h2 ng-click="getChannelSchedule(channel.name)">{{channel.name}}</h2>		
		</div>
	</ion-content>
</ion-view>